Lambda School Data Science

*Unit 1, Sprint 1, Module 3*

---

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2020-01-22 02:04:00--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.8.45
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.8.45|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  96.1MB/s    in 2.0s

2020-01-22 02:04:08 (96.1 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [0]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [0]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [0]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [0]:
##### YOUR CODE HERE #####

Those where not the top ten frequently bought items. The most frequent items were,

Shredded 3 Cheese Italian is the  1 most frequently bought product
Warrior Blend Vanilla Dietary Supplement is the  2 most frequently bought product
Fat Free Low Sodium Poppyseed Dressing is the  3 most frequently bought product
Earth Paste Amazingly Natural Toothpaste Peppermint is the  4 most frequently bought product
Fresh Farmed Tilapia Fillet is the  5 most frequently bought product
Essential Enzymes 500 Mg is the  6 most frequently bought product
Salsa Ranch Yogurt Dressing is the  7 most frequently bought product
Chicken Breast Grilled Strips is the  8 most frequently bought product
Almond Gold Bar is the  9 most frequently bought product
Calimyrna Figs is the  10 most frequently bought product

The data sets that have the information I need are the orders, prior orders, and product data sets.

In [0]:
# YOUR CODE HERE
# imported required modules
import pandas as pd

# loaded the csv files
print('Starting Loading csv Files. ')
aisles = pd.read_csv('aisles.csv')
products = pd.read_csv('products.csv')
departments = pd.read_csv('departments.csv')
orders = pd.read_csv('orders.csv')
order_products__prior = pd.read_csv('order_products__prior.csv')
print('Files loaded, Starting merging of files.')

# Merged all the files by a common column name
aisles_and_products = aisles.merge(products, on='aisle_id', how='inner')
aisles_and_products = aisles_and_products.merge(departments, on='department_id', how='inner')
aisles_and_products = aisles_and_products.merge(order_products__prior, on='product_id', how='inner')
complete_data = aisles_and_products.merge(orders, on='order_id', how='inner')
print('Merge finished')

# got the top ten frequent product id's
top_10 = complete_data['product_id'].value_counts().index
top_10 = top_10[:10]
print(top_10)
print('first set is finished')



# searched by those product id's to find the correct product name
n = 1
for i in top_10:
    test = products.loc[(i-1)]
    print(test[1])
    n = n + 1

print('Second set is finished')

Starting Loading csv Files.
Files loaded, Starting merging of files.
Merge finished
Int64Index([24852, 13176, 21137, 21903, 47209, 47766, 47626, 16797, 26209,
            27845],
           dtype='int64')
first set is finished
Banana
Bag of Organic Bananas
Organic Strawberries
Organic Baby Spinach
Organic Hass Avocado
Organic Avocado
Large Lemon
Strawberries
Limes
Organic Whole Milk
Second set is finished

In [0]:
import pandas as pd

orders = pd.read_csv('orders.csv')
orders.dtypes

order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
order_dow                   int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [0]:
departments = pd.read_csv('departments.csv')
departments.dtypes

department_id     int64
department       object
dtype: object

In [0]:
aisles = pd.read_csv('aisles.csv')
aisles.dtypes

aisle_id     int64
aisle       object
dtype: object

In [0]:
order_products__prior = pd.read_csv('order_products__prior.csv')
order_products__prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [0]:
products = pd.read_csv('products.csv')
products.dtypes

product_id        int64
product_name     object
aisle_id          int64
department_id     int64
dtype: object

In [0]:
aisles_and_products = aisles.merge(products, on='aisle_id', how='inner')
print(aisles_and_products.dtypes)

aisle_id          int64
aisle            object
product_id        int64
product_name     object
department_id     int64
dtype: object

In [0]:
aisles_and_products = aisles_and_products.merge(departments, on='department_id', how='inner')
print(aisles_and_products.dtypes)

aisle_id          int64
aisle            object
product_id        int64
product_name     object
department_id     int64
department       object
dtype: object

In [0]:
aisles_and_products = aisles_and_products.merge(order_products__prior, on='product_id', how='inner')
print(aisles_and_products.dtypes)

aisle_id              int64
aisle                object
product_id            int64
product_name         object
department_id         int64
department           object
order_id              int64
add_to_cart_order     int64
reordered             int64
dtype: object

In [0]:
complete_data = aisles_and_products.merge(orders, on='order_id', how='inner')
print(complete_data.dtypes)

aisle_id                    int64
aisle                      object
product_id                  int64
product_name               object
department_id               int64
department                 object
order_id                    int64
add_to_cart_order           int64
reordered                   int64
user_id                     int64
eval_set                   object
order_number                int64
order_dow                   int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [0]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 100)
print('Starting Loading csv Files. ')
aisles = pd.read_csv('aisles.csv')
products = pd.read_csv('products.csv')
departments = pd.read_csv('departments.csv')
orders = pd.read_csv('orders.csv')
order_products__prior = pd.read_csv('order_products__prior.csv')
print('Files loaded, Starting merging of files.')
aisles_and_products = aisles.merge(products, on='aisle_id', how='inner')
aisles_and_products = aisles_and_products.merge(departments, on='department_id', how='inner')
aisles_and_products = aisles_and_products.merge(order_products__prior, on='product_id', how='inner')
complete_data = aisles_and_products.merge(orders, on='order_id', how='inner')
print('Merge finished')

top_10 = complete_data['product_id'].value_counts().index
top_10 = top_10[:10]
print('first set is finished')

n = 1
for i in top_10:
    test = products.loc[i]
    print(test[1], 'is the ', n, 'most frequently bought product')
    n = n + 1

print('Second set is finished')

Starting Loading csv Files.
Files loaded, Starting merging of files.
Merge finished
first set is finished
Shredded 3 Cheese Italian is the  1 most frequently bought product
Warrior Blend Vanilla Dietary Supplement is the  2 most frequently bought product
Fat Free Low Sodium Poppyseed Dressing is the  3 most frequently bought product
Earth Paste Amazingly Natural Toothpaste Peppermint is the  4 most frequently bought product
Fresh Farmed Tilapia Fillet is the  5 most frequently bought product
Essential Enzymes 500 Mg is the  6 most frequently bought product
Salsa Ranch Yogurt Dressing is the  7 most frequently bought product
Chicken Breast Grilled Strips is the  8 most frequently bought product
Almond Gold Bar is the  9 most frequently bought product
Calimyrna Figs is the  10 most frequently bought product
Second set is finished

## Reshape Data Section

- Replicate the lesson code. Remember, if you haven't followed along typing out what we did during lecture, do that now to get more repetition with the syntax.
- Take table 2 (the transpose of table 1) and practice changing it into Tidy format and back again. You should not use the transpose operation anywhere in this code:
 - Table 2 --> Tidy
 - Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [0]:
import pandas as pd
import numpy as np
table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'],
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T
table1 = table1.reset_index()
tidy1 = pd.melt(table1, id_vars='index', value_vars=['treatmenta', 'treatmentb'])
print(tidy1)

          index    variable  value
0    John Smith  treatmenta    NaN
1      Jane Doe  treatmenta   16.0
2  Mary Johnson  treatmenta    3.0
3    John Smith  treatmentb    2.0
4      Jane Doe  treatmentb   11.0
5  Mary Johnson  treatmentb    1.0

In [0]:
import pandas as pd
import numpy as np
table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'],
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T
table2 = table2.reset_index()
tidy1 = pd.melt(table2, id_vars='index', value_vars=['John Smith', 'Jane Doe', 'Mary Johnson'])
print(tidy1)

        index      variable  value
0  treatmenta    John Smith    NaN
1  treatmentb    John Smith    2.0
2  treatmenta      Jane Doe   16.0
3  treatmentb      Jane Doe   11.0
4  treatmenta  Mary Johnson    3.0
5  treatmentb  Mary Johnson    1.0

In [0]:
wide1 = tidy1.pivot_table(index='index', columns='variable', values='value')
print(wide1)

variable    Jane Doe  John Smith  Mary Johnson
index
treatmenta      16.0         NaN           3.0
treatmentb      11.0         2.0           1.0

In [0]:
import pandas as pd
import seaborn as sns
flights = sns.load_dataset('flights')
flights.head()
tidy1 = pd.melt(flights, id_vars=['year'], value_name='month', value_vars=['month'])
tidy2 = pd.melt(flights, id_vars='month', value_vars=['passengers'])


tidy3 = (tidy1.merge(flights, how='inner', on=['month', 'year']))
tidy3 = tidy3.drop(columns='variable')
print(tidy3.head(13))

    year      month  passengers
0   1949    January         112
1   1949   February         118
2   1949      March         132
3   1949      April         129
4   1949        May         121
5   1949       June         135
6   1949       July         148
7   1949     August         148
8   1949  September         136
9   1949    October         119
10  1949   November         104
11  1949   December         118
12  1950    January         115

In [0]:
# Flights Pivot Table

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [0]:
##### YOUR CODE HERE #####

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
##### YOUR CODE HERE #####